<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>View {{student.name.firstname}} {{student.name.lastname}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        General Information
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>Grade: <grade-badge [longName]="true" [grade]="student.grade"></grade-badge>
      <p>HB ID: {{student.hbId}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        Dates
<!--
        <button ion-button outline item-end color="orange">View more</button>
-->
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="joiningDate">Joining Date: {{joiningDate.format('DD MMM YY')}}</p>
      <p *ngIf="lastClassStudentAttended">Last Class: {{lastClassStudentAttended.format('DD MMM YY')}} <ion-icon color="danger" name="alert" *ngIf="studentHasMissedToManyClasses()"></ion-icon></p>
      <p *ngIf="lastGradingDate">Last Grading: {{lastGradingDate.format('DD MMM YY')}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        Feedback
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>None yet</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="student.isKumdoStudent !== undefined && student.isKumdoStudent">
    <ion-card-header>
      <ion-item>
        Kumdo
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <p>Last Grading Date: Never</p>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <button id="UT-actionsheet" ion-button full end (click)="presentActionSheet()">Student Menu</button>
  </ion-footer>
</ion-content>
