<!--
  Generated template for the ClassesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Add Classes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item no-lines>
    <calendar (change)="onPeriodChange($event)" [preselectedValues]="preselectedDates" [minDate]="'06/07/2017'" [selectionType]="'multiple'"></calendar>
  </ion-item>

  <h4>Classes</h4>

  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <div formArrayName="classes">
        <div *ngFor="let class of classForm.controls.classes.controls; let i=index">
          <ion-card>
            <ion-item>
              <b>Class {{i + 1}}</b>
              <button item-end ion-button icon-only (click)="removeClass(i)" clear>
                <ion-icon color="danger" name="trash"></ion-icon>
              </button>
            </ion-item>
            <ion-list [formGroupName]="i">
              <ion-item>
                <ion-label>Class Type</ion-label>
                <ion-select formControlName="classType">
                  <ion-option *ngFor="let classType of classTypes" [value]="classType">
                    {{classType}}
                  </ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Start Time</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="startTime"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Is it a grading?</ion-label>
                <ion-toggle formControlName="isGrading"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>
      </div>
    </ion-list>

    <button type="button" ion-button block (click)="addClass()" icon-start><ion-icon name="add"></ion-icon>Add Another Class</button>


    <button type="submit" ion-button block [disabled]="!classForm.valid">Save</button>
  </form>
</ion-content>
