<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Students</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [navPush]="editStudentPage" [navParams]="{ mode: 'New'}">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="activeStatus">
      <ion-segment-button value="active">
        Active
      </ion-segment-button>
      <ion-segment-button value="deactive">
        Deactive
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="activeStatus">
    <ion-list *ngSwitchCase="'active'">
      <button ion-item *ngFor="let student of students[0]" [navPush]="viewStudentPage" [navParams]="{ student: student}">
        <span>{{student.name.firstname}} {{student.name.lastname}}</span>
        <span item-end>{{gradeService.getShortDisplayName(student.grade)}}</span>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'deactive'">
      <button ion-item *ngFor="let student of students[1]" [navPush]="viewStudentPage" [navParams]="{ student: student}">
        <span>{{student.name.firstname}} {{student.name.lastname}}</span>
        <span item-end>{{gradeService.getShortDisplayName(student.grade)}}</span>
      </button>
    </ion-list>
  </div>
</ion-content>
