<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Students</ion-title>

    <ion-buttons end>
      <search-student [students]="allStudents" (selectedStudent)="searchedStudent($event)"></search-student>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="activeStatus">
      <ion-segment-button value="active">
        Active
      </ion-segment-button>
      <ion-segment-button value="inactive">
        Inactive
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="activeStatus" padding>
    <ion-list *ngSwitchCase="'active'">
      <button ion-item *ngFor="let student of students[0] | alphabeticalstudents" [navPush]="viewStudentPage" [navParams]="{ student: student}">
        <ion-icon color="danger" name="alert" *ngIf="studentHasMissedToManyClasses(student)"></ion-icon>
        <span>{{student.name.firstname}} {{student.name.lastname}}</span>
        <span item-end> {{gradeService.getShortDisplayName(student.grade)}}</span>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'inactive'">
      <button ion-item *ngFor="let student of students[1] | alphabeticalstudents" [navPush]="viewStudentPage" [navParams]="{ student: student}">
        <span>{{student.name.firstname}} {{student.name.lastname}}</span>
        <span item-end>{{gradeService.getShortDisplayName(student.grade)}}</span>
      </button>
    </ion-list>
  </div>

  <ion-fab bottom right>
    <button ion-fab color="primary" [navPush]="editStudentPage" [navParams]="{ mode: 'New'}"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
